<app-admin-dashboard></app-admin-dashboard>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div id="notificationBody">
          <h1 style="font-size: xx-large;font-family: Georgia, 'Times New Roman', Times, serif;">Welcome Admin!</h1>
          <p style="font-family: Georgia, 'Times New Roman', Times, serif;">AIRNET RECHARGE - the power to connect, the power to recharge</p>
          <p style="font-family: Georgia, 'Times New Roman', Times, serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We pride ourselves on delivering unparalleled convenience and speed to our users. No more waiting in lines or struggling with slow payment processes. With AIRNET, you can recharge your mobile on the go, ensuring you're always connected. Our platform is designed to be user-friendly and accessible, catering to everyone's needs. Recharge with ease, recharge with confidence  </p>
          <p style="font-family: Georgia, 'Times New Roman', Times, serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The admin's primary role is to manage and maintain the plans for prepaid, postpaid, and addons.They play a crucial role in providing customers with up-to-date, relevant, and competitive plan offerings, ultimately contributing to the success of the recharge plan management system.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://img.freepik.com/free-vector/opinion-concept-illustration_114360-4783.jpg?w=740&t=st=1689769531~exp=1689770131~hmac=45f303d1345881b0d45352765c259f7ec0cfc5d23399f1b7dc5faa650a73c3b0" alt="Customer Feedback" class="img-fluid">
      </div>
    </div>
  </div>
