<section class="vh-100" >
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
          <br>
          <div class="form-outline mb-4" style="text-align: center;" >
            <img src="https://api.logo.com/api/v2/images?logo=logo_b4f96c27-3947-4fc2-9a3e-c5bb310c3ae7&format=webp&margins=0&quality=60&width=500&background=transparent&u=1689760032" height="170" widhth="50">
          </div>
          <div class="form-group">
            <select id="role" name="role" formControlName="Role" class="form-control" height="20px">
              <option value="" disabled selected>Select Role</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
            <small *ngIf="signupForm.controls['Role'].invalid && signupForm.controls['Role'].touched" style="color: red;">*Role is required</small>
          </div>
          <div class="form-group">
            <input type="email" id="email" name="email" formControlName="Email" placeholder="Enter email" class="form-control" height="20px">
            <small *ngIf="signupForm.controls['Email'].invalid && signupForm.controls['Email'].touched" style="color: red;">*Email is required and should be in valid format</small>
          </div>
          <div class="form-group">
            <input type="text" id="username" name="username" formControlName="Username" placeholder="Enter Username" required class="form-control" height="20px">
            <small *ngIf="signupForm.controls['Username'].invalid && signupForm.controls['Username'].touched" style="color: red;">*Username is required</small>
          </div>
          <div class="form-group">
            <input type="text" id="mobileNumber" name="mobileNumber" formControlName="MobileNumber" placeholder="Enter Mobile number" class="form-control" height="20px">
            <small *ngIf="signupForm.controls['MobileNumber'].invalid && signupForm.controls['MobileNumber'].touched" style="color: red;">*Mobile number is required and should be in valid format</small>
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" formControlName="Password" placeholder="Enter Password" required class="form-control" height="20px">
            <small *ngIf="signupForm.controls['Password'].invalid && signupForm.controls['Password'].touched" style="color: red;">*Password is required and should contain 8 characters with atleast  1 alphabet,1 special characters and number</small>
          </div>
          <div class="form-group">
            <input type="password" id="confirmPassword" name="confirmPassword" formControlName="ConfirmPassword" placeholder="Confirm password" required class="form-control" height="20px">
            <small *ngIf="signupForm.controls['ConfirmPassword'].invalid && signupForm.controls['ConfirmPassword'].touched" style="color: red;">*Confirm password is required</small>
            <small *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('ConfirmPassword')?.dirty" style="color: red;">*Passwords do not match</small>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" id="submitButton" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;background-color: #d366d1;">Register</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already a user? <a routerLink="../login"
              class="link-danger" style="color: #d366d1;">Login</a></p>
          </div>
      </form>
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://img.freepik.com/free-vector/top-up-credit-concept-illustration_114360-7414.jpg?w=1060&t=st=1689679549~exp=1689680149~hmac=8acbaa713f5a0bd612dd35e6ad12ad43a741f72d5397bf4bb9dea01a3a81e013"
          class="img-fluid" alt="Sample image">
      </div>
      
    </div>
  </div>

</section>