
<app-user-dashboard></app-user-dashboard>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div id="notificationBody">
        <p style="font-family: Georgia, 'Times New Roman', Times, serif;font-size:x-large;text-align:center ;">This user have no Notifications</p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="https://img.freepik.com/free-vector/push-notifications-concept-illustration_114360-4790.jpg?w=740&t=st=1689838967~exp=1689839567~hmac=0108876b1f19d1a11f0ee7c153f96ae95a81f077763b00378cd3fe7eb228f7a1" alt="Customer Feedback" class="img-fluid">
    </div>
  </div>
</div>

