<app-user-dashboard></app-user-dashboard>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div id="notificationBody">
          <h1 style="font-size: xx-large;font-family: Georgia, 'Times New Roman', Times, serif;">Welcome {{userName}}!</h1>
          <p style="font-family: Georgia, 'Times New Roman', Times, serif;">AIRNET RECHARGE - the power to connect, the power to recharge</p>
          <p style="font-family: Georgia, 'Times New Roman', Times, serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Welcome to AIRNET RECHARGE, your go-to destination for lightning-fast and secure mobile recharges. Say goodbye to long waiting times and complicated payment processes - with AIRNET, recharging your mobile is a breeze. We believe that staying connected should be simple, fast, and efficient. With AIRNET, you can top up your mobile in just a few clicks, anytime, anywhere. We offer a wide range of plans and exclusive offers to suit your needs, making sure you get the most out of every recharge.Experience the power of swift mobile recharges today!</p>
          <p style="font-family: Georgia, 'Times New Roman', Times, serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AIRNET RECHARGE is the ultimate destination for all your mobile recharge needs. We offer a seamless and secure platform that ensures your mobile stays charged at all times. Whether you need to recharge your data plan or top up your talk time, AIRNET has you covered. Join thousands of satisfied users and experience the convenience and speed of AIRNET RECHARGE today</p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="https://img.freepik.com/free-vector/connected-world-concept-illustration_114360-4240.jpg?w=740&t=st=1689769577~exp=1689770177~hmac=9bc9c98ae27fe23463dc4d1a8619aaffb4fedaf397062050990d0cd02d5e3085" alt="Customer Feedback" class="img-fluid">
      </div>
    </div>
</div>
