<app-user-dashboard></app-user-dashboard>
<div style="background-color: #e1e1e1;">
<br><br>
    <div class="container">
      <div class="row" style="background-color: #cc61ca; color: white;padding: 10px;border-radius: 10px;" >
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">Plan Type</div>
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">Plan Name</div>
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">Plan Price</div>
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">View</div>
      </div>
      <br>
      <div *ngFor="let add of PrePlansList">
      <div class="row"  style="background-color: rgb(222, 172, 217);padding: 15px;border-radius: 10px;"> 
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">{{add.planType}}</div>
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">{{add.planName}}</div>
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
          <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
        </svg>{{add.planPrice}}</div>
      
      
        <div class="col">
          <button type="button" class="btn btn-primary float-left m-2" 
          data-toggle="modal" data-target="#exampleModal" (click)="navigate(add.planId)" data-backdrop="static" data-keyboard="false" style="background-color: #e1e1e1;color:black">   
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button> 
        

            <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #cc61ca;font-family: Georgia, 'Times New Roman', Times, serif;color:white">
            <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
            <button type="button" class="close" 
            data-dismiss="modal" aria-label="Close"
            (click)="closeClick()" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <app-rechargeplan  [recharge]="recharge" [planId]="selectedPlanNumber" *ngIf="ActivateRechargePlanComp"></app-rechargeplan>
          </div>
        </div>
      </div>
    </div>
    
         </div>
        <div class="w-100"></div>
        <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">Description:{{add.planDescription}}</div>
        <div class="w-100"></div>
          <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">Offers:{{add.planOffers}}</div>
          <div class="col" style="font-family: Georgia, 'Times New Roman', Times, serif;">Validity:{{add.planValidity}} days</div>
          <div class="col">
            <div *ngIf="add.averageRating === 0" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              No reviews available.
            </div>
            
            <div *ngIf="add.averageRating > 0" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              Average Rating:
              <ng-container *ngFor="let star of add.stars" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                <span class="star" [class.filled]="star <= add.averageRating">&#9733;</span>
              </ng-container>
            </div>
            
        </div>
          
        </div>
      <br>
      </div>
   </div>
    