<form [formGroup]="prepaidform" (ngSubmit)="onSubmit()">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planName">Plan Name:</label>
            <input type="text" class="form-control" [(ngModel)]="planName" placeholder="Enter Plan Name" id="planName" formControlName="planName">     
            <div *ngIf="f['planName'].touched && f['planName'].invalid" class="alert alert-danger">
                <div *ngIf="f['planName'].errors && f['planName'].errors['required']">Plan Name is required.</div>
                <div *ngIf="f['planName'].errors && f['planName'].errors['minlength']">Plan Name should be 3 character.</div>
            </div>
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="planPrice">Plan Price:</label>
            <input type="text" class="form-control" [(ngModel)]="planPrice" placeholder="Enter Plan Price" id="planPrice" formControlName="planPrice">
            <div *ngIf="f['planPrice'].touched && f['planPrice'].invalid" class="alert alert-danger">
                <div *ngIf="f['planPrice'].errors && f['planPrice'].errors['required']">Plan Price is required.</div>
                <div *ngIf="f['planPrice'].errors && f['planPrice'].errors['min'] || f['planPrice'].errors['max'] ">Price should be 10 to 10000 rupees.</div>
                <div *ngIf="f['planPrice'].errors && f['planPrice'].errors['planPrice']" >Enter a valid number between 10 to 10000 rupees</div>
            </div>
        </div>
    </div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label for="planType">Plan Type:</label>
        <select id="planType" name="planType" formControlName="planType" class="form-control" height="20px"  [(ngModel)]="planType">
            <option value="">Select Plan Type</option>
            <option  value="Prepaid" >Prepaid</option>
            <option value="Postpaid">Postpaid</option>
        </select>
        <div *ngIf="f['planType'].touched && f['planType'].invalid" class="alert alert-danger">
            <div *ngIf="f['planType'].errors && f['planType'].errors['required']">Plan Type is required.</div>
        </div>
    </div>
        <!--<input type="text" class="form-control" [(ngModel)]="planType" placeholder="Enter Plan Type" id="planType" formControlName="planType">
        <div *ngIf="f['planType'].touched && f['planType'].invalid" class="alert alert-danger">
            <div *ngIf="f['planType'].errors && f['planType'].errors['required']">Plan Type is required.</div>
            <div *ngIf="f['planType'].errors && f['planType'].errors['minlength']">Plan Type should be 3 character.</div>
        </div>-->
    

    <div class="form-group col-md-6">
        <label for="planOffers">Plan Offers:</label>
        <input type="text" class="form-control" [(ngModel)]="planOffers" placeholder="Enter Plan Offers" id="planOffers" formControlName="planOffers">      
        <div *ngIf="f['planOffers'].touched && f['planOffers'].invalid" class="alert alert-danger">
            <div *ngIf="f['planOffers'].errors && f['planOffers'].errors['required']">Plan Offers is required.</div>
            <div *ngIf="f['planOffers'].errors && f['planOffers'].errors['minlength']">Plan Offers should be 3 character.</div>
        </div>
    </div>
  </div>
  <br>

  <div class="form-row">
        <div class="form-group col-md-6">
            <label for="planValidity">Plan Validity:</label>
            <input type="text" class="form-control" [(ngModel)]="planValidity" placeholder="Enter Plan Validity" id="planValidity" formControlName="planValidity">
            <div *ngIf="f['planValidity'].touched && f['planValidity'].invalid" class="alert alert-danger">
                <div *ngIf="f['planValidity'].errors && f['planValidity'].errors['required']">Plan Validity is required.</div>
                <div *ngIf="f['planValidity'].errors && f['planValidity'].errors['min'] || f['planValidity'].errors['max'] ">Validity should be atleast 1 day to atmost 1year.</div>
                <div *ngIf="f['planValidity'].errors && f['planValidity'].errors['invalidNumber']">Enter a valid number between 1 day to 365 days</div>
            </div> 
            
        </div>

        <div class="form-group col-md-6">
            <label for="planDescription">Plan Description:</label>
            <input type="text" class="form-control" [(ngModel)]="planDescription" placeholder="Enter Plan Description" id="planDescription" formControlName="planDescription">
            <div *ngIf="f['planDescription'].touched && f['planDescription'].invalid" class="alert alert-danger">
                <div *ngIf="f['planDescription'].errors && f['planDescription'].errors['required']">Plan Description is required.</div>
                <div *ngIf="f['planDescription'].errors && f['planDescription'].errors['invalidDescription']">
                  Invalid description. Valid descriptions are:
                  <ul>
                    <li *ngFor="let pattern of f['planDescription'].errors['matchedPatterns']">
                      {{ pattern.identifier }}
                    </li>
                  </ul>
                </div>
                </div>
                </div>

    </div>
  <br>

<button (click)="addPlan()" *ngIf="plans.planId==0" class="btn btn-primary" [disabled]="prepaidform.invalid"  style="background-color: #cc61ca;">
    Add
</button>

<!-- <button (click)="updatePlan()" *ngIf="plans.planId!=0" class="btn btn-primary" [disabled]="postpaidform.invalid" >
    Update
</button>
 -->

</form>