<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://img.freepik.com/free-vector/top-up-credit-concept-illustration_114360-7414.jpg?w=1060&t=st=1689679549~exp=1689680149~hmac=8acbaa713f5a0bd612dd35e6ad12ad43a741f72d5397bf4bb9dea01a3a81e013"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm">
          <div class="form-outline mb-4" style="text-align: center;">
              <img src="https://api.logo.com/api/v2/images?logo=logo_b4f96c27-3947-4fc2-9a3e-c5bb310c3ae7&format=webp&margins=0&quality=60&width=500&background=transparent&u=1689760032" height="300" alt="Sample image" >
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
              <input type="email" id="email" name="email" formControlName="Email" placeholder="Enter email"  class="form-control form-control-lg">
              <small *ngIf="loginForm.controls['Email'].invalid && loginForm.controls['Email'].touched" class="error" style="color:red">*Email is required and should be in valid format</small>          
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
              <input type="password" id="password" name="password" formControlName="Password" placeholder="Enter password" class="form-control form-control-lg">
              <small *ngIf="loginForm.controls['Password'].invalid && loginForm.controls['Password'].touched" class="error" style="color:red">*Password is required and should be in valid format</small>
            
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg" (click)="onLogin()" type="submit"
              style="padding-left: 2.5rem; padding-right: 2.5rem;background-color: #d366d1;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="../signup"
                class="link-danger" style="color: #d366d1;">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>